@font-face {
    font-family: "DMsans";
    src: url(../assets/fonts/DMSans/static/DMSans-Regular.ttf);
}
@font-face {
    font-family: "Times";
    src: url(../assets/fonts/Times-new-Roman/times.ttf);
}
@font-face {
    font-family: "Lora";
    src: url(../assets/fonts/Lora/static/Lora-Regular.ttf);
}
.lora{
    font-family: "Lora";
}
.times{
    font-family: "Times";
}
.DMsans{
    font-family: "DMsans";
}
.gtc {
    grid-template-columns: 1fr 1fr 1fr;
}
nav>ul {
    font-family: "DMsans";
    font-weight: 500;
}

.marker:hover {
    transition-duration: 0.3s;
    color: #d92926;
}


/* button transition started */
.btn-circle {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(126, 126, 126, 0.61);
    color: rgb(0, 0, 0);
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    overflow: hidden;
    transition: all 0.4s ease;
}

.btn-circle:hover {
    transition-duration: 0.8s;
    border-color: #ff0000;
    color: #ff0000;
    background-color: white;
    transform: scale(1.2);
}

/* button transition ended */
