@font-face {
    font-family: "DMsans";
    src: url(../assets/fonts/DMSans/static/DMSans-Regular.ttf);
}

@font-face {
    font-family: "Times";
    src: url(../assets/fonts/Times-new-Roman/times.ttf);
}

@font-face {
    font-family: "Lora";
    src: url(../assets/fonts/Lora/static/Lora-Regular.ttf);
}

@font-face {
    font-family: "maman";
    src: url(../assets/fonts/Bonne-mamman/bonne-maman.ttf);
}

.maman {
    font-family: "maman";
}

.lora {
    font-family: "Lora";
}

.times {
    font-family: "Times";
}

.DMsans {
    font-family: "DMsans";
}

.gtc {
    grid-template-columns: 1fr 1fr 1fr;
}

nav>ul {
    font-family: "DMsans";
    font-weight: 500;
}

.marker:hover {
    transition-duration: 0.3s;
    color: #d92926;
}

/* section-1 started  */

/* button transition started */
.btn-circle {
    position: relative;
    width: 52px;
    height: 52px;
    border-radius: 100%;
    background: rgb(255, 255, 255);
    border: 1px solid rgba(126, 126, 126, 0.61);
    color: rgb(0, 0, 0);
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    overflow: hidden;
    transition: all 0.4s ease;
}

.btn-circle:hover {
    transition-duration: 0.8s;
    border-color: #ff0000;
    color: #ff0000;
    background-color: white;
    transform: scale(1.1);
}

/* button transition ended */


/*------------------------------------------ section-1 ended  */

/* section-2 stated ------------------------------------------- */

/* image zoom in transition started */


#ani1 {
    width: 172px;
    height: 172px;
    border: none;
    background-image: url(../assets/images/user-1.avif);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 100%;
    cursor: pointer;
}

#ani1:hover {
    transition-duration: 1s;
    background-size: 105% 105%;
    background-position: center center;
}

#ani2 {
    width: 172px;
    height: 172px;
    border: none;
    background-image: url(../assets/images/user-2.avif);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 100%;
    cursor: pointer;
}

#ani2:hover {
    transition-duration: 1s;
    background-size: 105% 105%;
    background-position: center center;
}

#ani3 {
    width: 172px;
    height: 172px;
    border: none;
    background-image: url(../assets/images/user-3.avif);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 100%;
    cursor: pointer;
}

#ani3:hover {
    transition-duration: 1s;
    background-size: 105% 105%;
    background-position: center center;
}

/* image zoom in transition ended */

/* section-2 ended ___--_-_-_-_-__-__-___--__-_-- */





/* section-3 started _-_-_---_--_-__--__-__-__-__-__--_---_--_- */

/* image zoom in transition started  */

#image-t1 {
    width: 444px;
    height: 555px;
    border: none;
    background-image: url(../assets/images/Cranberry.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

#image-t1:hover {
    transition-duration: 1s;
    background-size: 105% 105%;
    background-position: center center;
}

#image-t2 {
    width: 444px;
    height: 555px;
    border: none;
    background-image: url(../assets/images/pumpkin-spice-jam.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

#image-t2:hover {
    transition-duration: 1s;
    background-size: 105% 105%;
    background-position: center center;
}

/* image zoom in transition ended  */

/* section-3 ended _-_-_---_--_-__--__-__-__-__-__--_---_--_- */

/* section-4 started --------______________________________________ */

.btn-top{
    background-color: rgb(255, 255, 255);
    font-size: 0.8rem;
    padding: 9px 15px;
    border-radius: 20px;
    position: relative;
    top: 7px;
    left: 7px;
    font-family: "DMsans";
    font-weight: 600;
}
.btn-bottom{
    display: none;
    background-color: #d92926;
    font-size: 0.8rem;
    width: 97%;
    position: relative;
    bottom: -170px;
    left: 4px;
    padding: 12px;
    color: white;
    font-family: "DMsans";
    font-weight: 600;
    border-radius: 5px;
    
    
}
.btn-bottom{
    display: block;
    background-color: #d92926;
    font-size: 0.8rem;
    width: 97%;
    position: relative;
    bottom: -170px;
    left: 4px;
    padding: 12px;
    color: white;
    font-family: "DMsans";
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    
}
.btn-bottom:hover{
    background-color: #cc2623;
}

#img-group-hover {
    width: 257px;
    height: 257px;
    background-color: rgba(128, 128, 128, 0.178);
    /* visibility: hidden; */
    cursor: pointer;
    border: none;
}
#img-group-hover:hover {
    width: 257px;
    height: 257px;
    /* visibility: visible; */
    
    cursor: pointer;
    border: none;
    
}
#img-group-1 {
    width: 257px;
    height: 257px;
    background-image: url(../assets/images/Advent_Calendar_2025_active.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    border: none;
}
#img-group-1:hover {
    width: 257px;
    height: 257px;
    background-image: url(../assets/images/Advent_Calendar_2025_hover.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    border: none;
    
}
#img-group-2 {
    width: 257px;
    height: 257px;
    background-image: url(../assets/images/bm_sampler_active.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    border: none;
}
#img-group-2:hover {
    width: 257px;
    height: 257px;
    background-image: url(../assets/images/bm_sampler_hover.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    border: none;
    
}
#img-group-3 {
    width: 257px;
    height: 257px;
    background-image: url(../assets/images/MadeForYou-active.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    border: none;
}
#img-group-3:hover {
    width: 257px;
    height: 257px;
    background-image: url(../assets/images/MadeForYou-hover.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    border: none;
    
}
#img-group-4 {
    width: 257px;
    height: 257px;
    background-image: url(../assets/images/LoveBox-active.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    border: none;
}
#img-group-4:hover {
    width: 257px;
    height: 257px;
    background-image: url(../assets/images/LoveBox-hover.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    border: none;
    
}

/* section-4 ended --------______________________________________ */


/* section-5 started__________-----------------_______________________ */

.big-imag{
    
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/Big-image-bonne-maman.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    border: none;
}

/* section-5 ended__________-----------------_______________________ */



/* section-7 started  */
#section-7 button{
    cursor: pointer;
}
#section-7 button:hover{
    transition-duration: 0.5s;
    /* background-color: #b92421 ; */
}

.bg-img-1{
    background: url(https://scontent.cdninstagram.com/v/t51.82787-15/583697858_18378762481145586_169214363838563953_n.jpg?stp=dst-jpg_e35_tt6&_nc_cat=102&ccb=7-5&_nc_sid=18de74&efg=eyJlZmdfdGFnIjoiQ0FST1VTRUxfSVRFTS5iZXN0X2ltYWdlX3VybGdlbi5DMyJ9&_nc_ohc=vj2WWr-ShAoQ7kNvwH_QNF_&_nc_oc=Adn_qjqsHmvtybHYvEWjtNC3rQZm9gDt6yeqXYCYAyob_QuvRMHKd1bsdpGdCx5XdnA&_nc_zt=23&_nc_ht=scontent.cdninstagram.com&edm=ANo9K5cEAAAA&_nc_gid=3wbIlrsByDRxDSf9GQQaVg&oh=00_AfhqVKb0DadQRZPRCaSXspYSQeDs2MgXzuyFEnokd2ZSwg&oe=692617E6);
}
.bg-img-2{
    background: url(https://scontent.cdninstagram.com/v/t51.82787-15/583832538_18378549847145586_9105712878626568182_n.jpg?stp=dst-jpg_e35_tt6&_nc_cat=105&ccb=7-5&_nc_sid=18de74&efg=eyJlZmdfdGFnIjoiRkVFRC5iZXN0X2ltYWdlX3VybGdlbi5DMyJ9&_nc_ohc=OgeEkPd0iV8Q7kNvwEoPQXg&_nc_oc=AdkD7mEACc5fXSs33TnHAvVYHKYrg09f7YDiiWtF1VXGerJHDKY5dgg6n7nq7-k_o9s&_nc_zt=23&_nc_ht=scontent.cdninstagram.com&edm=ANo9K5cEAAAA&_nc_gid=3wbIlrsByDRxDSf9GQQaVg&oh=00_AfgAOnB04e3uqcBTnGl4NQvqdURXEBQFMbLqt9OCUMj0xQ&oe=69262DBE);
}

.bg-img-3{
    background: url(https://scontent.cdninstagram.com/v/t51.82787-15/581017632_18378260503145586_1032658407383239148_n.jpg?stp=dst-jpg_e35_tt6&_nc_cat=108&ccb=7-5&_nc_sid=18de74&efg=eyJlZmdfdGFnIjoiRkVFRC5iZXN0X2ltYWdlX3VybGdlbi5DMyJ9&_nc_ohc=mhgZ6pwdyboQ7kNvwER77Ls&_nc_oc=AdnaKbweKjU6eLhktwPGH9SB_fhy2xGoD-yR_1mKK7Or-QpeRfa8nVAvKXNoGnP-87U&_nc_zt=23&_nc_ht=scontent.cdninstagram.com&edm=ANo9K5cEAAAA&_nc_gid=3wbIlrsByDRxDSf9GQQaVg&oh=00_AfgTMSNSmAt3BVt6dc1Y4YfMLsRl4GOpfjlYXzS4hqecyw&oe=69262BCA);
}

.bg-img-4{
    background: url(https://scontent.cdninstagram.com/v/t51.82787-15/580491942_18378085513145586_7471835125085254524_n.jpg?stp=dst-jpg_e35_tt6&_nc_cat=109&ccb=7-5&_nc_sid=18de74&efg=eyJlZmdfdGFnIjoiRkVFRC5iZXN0X2ltYWdlX3VybGdlbi5DMyJ9&_nc_ohc=6rmPPcLC0qAQ7kNvwHTEZlQ&_nc_oc=Adm5grEuDp4_zUMlRQMScHbQqT-V9YZz7Ejx_zIoehxbuLL6ZKB3UgXeqF8YUj6YXSQ&_nc_zt=23&_nc_ht=scontent.cdninstagram.com&edm=ANo9K5cEAAAA&_nc_gid=3wbIlrsByDRxDSf9GQQaVg&oh=00_AfisP5E9qO6YR8L0YsFeTmFf4cRwa91k6jEb8mvexKuEjQ&oe=69263238);
}

.bg-img-5{
    background: url(https://scontent.cdninstagram.com/v/t51.82787-15/576529113_18377469130145586_1980114445516842010_n.jpg?stp=dst-jpg_e35_tt6&_nc_cat=108&ccb=7-5&_nc_sid=18de74&efg=eyJlZmdfdGFnIjoiRkVFRC5iZXN0X2ltYWdlX3VybGdlbi5DMyJ9&_nc_ohc=PAt7fk1ZYxcQ7kNvwF4-kne&_nc_oc=AdljiAU_jYdu7rlC8101tgEr2SUobT-oSNSWEm01JasuTXZ9PpfbfOsVhr2FQkqGi0M&_nc_zt=23&_nc_ht=scontent.cdninstagram.com&edm=ANo9K5cEAAAA&_nc_gid=3wbIlrsByDRxDSf9GQQaVg&oh=00_AfjFIolqaIi3cTu20mbZ99-1axiCEPMcgb3uhCLgtDCkpA&oe=69262FB2);
}

.bg-img{
    background-size: cover;
}


/* section-7 ended  */

/* section-   */