@font-face {
    font-family: "DMsans";
    src: url(../assets/fonts/DMSans/static/DMSans-Regular.ttf);
}

@font-face {
    font-family: "Times";
    src: url(../assets/fonts/Times-new-Roman/times.ttf);
}

@font-face {
    font-family: "Lora";
    src: url(../assets/fonts/Lora/static/Lora-Regular.ttf);
}

@font-face {
    font-family: "maman";
    src: url(../assets/fonts/Bonne-mamman/bonne-maman.ttf);
}

.maman {
    font-family: "maman";
}

.lora {
    font-family: "Lora";
}

.times {
    font-family: "Times";
}

.DMsans {
    font-family: "DMsans";
}

.gtc {
    grid-template-columns: 1fr 1fr 1fr;
}

nav>ul {
    font-family: "DMsans";
    font-weight: 500;
}

.marker:hover {
    transition-duration: 0.3s;
    color: #d92926;
}

/* section-1 started  */

/* button transition started */
.btn-circle {
    position: relative;
    width: 52px;
    height: 52px;
    border-radius: 100%;
    background: rgb(255, 255, 255);
    border: 1px solid rgba(126, 126, 126, 0.61);
    color: rgb(0, 0, 0);
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    overflow: hidden;
    transition: all 0.4s ease;
}

.btn-circle:hover {
    transition-duration: 0.8s;
    border-color: #ff0000;
    color: #ff0000;
    background-color: white;
    transform: scale(1.1);
}

/* button transition ended */


/*------------------------------------------ section-1 ended  */

/* section-2 stated ------------------------------------------- */

/* image zoom in transition started */


#ani1 {
    width: 172px;
    height: 172px;
    border: none;
    background-image: url(../assets/images/user-1.avif);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 100%;
    cursor: pointer;
}

#ani1:hover {
    transition-duration: 1s;
    background-size: 105% 105%;
    background-position: center center;
}

#ani2 {
    width: 172px;
    height: 172px;
    border: none;
    background-image: url(../assets/images/user-2.avif);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 100%;
    cursor: pointer;
}

#ani2:hover {
    transition-duration: 1s;
    background-size: 105% 105%;
    background-position: center center;
}

#ani3 {
    width: 172px;
    height: 172px;
    border: none;
    background-image: url(../assets/images/user-3.avif);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 100%;
    cursor: pointer;
}

#ani3:hover {
    transition-duration: 1s;
    background-size: 105% 105%;
    background-position: center center;
}

/* image zoom in transition ended */

/* section-2 ended ___--_-_-_-_-__-__-___--__-_-- */





/* section-3 started _-_-_---_--_-__--__-__-__-__-__--_---_--_- */

/* image zoom in transition started  */

#image-t1 {
    width: 444px;
    height: 555px;
    border: none;
    background-image: url(../assets/images/Cranberry.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

#image-t1:hover {
    transition-duration: 1s;
    background-size: 105% 105%;
    background-position: center center;
}

#image-t2 {
    width: 444px;
    height: 555px;
    border: none;
    background-image: url(../assets/images/pumpkin-spice-jam.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

#image-t2:hover {
    transition-duration: 1s;
    background-size: 105% 105%;
    background-position: center center;
}

/* image zoom in transition ended  */

/* section-3 ended _-_-_---_--_-__--__-__-__-__-__--_---_--_- */

/* section-4 started --------______________________________________ */

.btn-top{
    background-color: rgb(255, 255, 255);
    font-size: 0.8rem;
    padding: 9px 15px;
    border-radius: 20px;
    position: relative;
    top: 7px;
    left: 7px;
    font-family: "DMsans";
    font-weight: 600;
}
.btn-bottom{
    display: none;
    background-color: #d92926;
    font-size: 0.8rem;
    width: 97%;
    position: relative;
    bottom: -170px;
    left: 4px;
    padding: 12px;
    color: white;
    font-family: "DMsans";
    font-weight: 600;
    border-radius: 5px;
    
    
}
.btn-bottom{
    display: block;
    background-color: #d92926;
    font-size: 0.8rem;
    width: 97%;
    position: relative;
    bottom: -170px;
    left: 4px;
    padding: 12px;
    color: white;
    font-family: "DMsans";
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    
}
.btn-bottom:hover{
    background-color: #cc2623;
}

#img-group-hover {
    width: 257px;
    height: 257px;
    background-color: rgba(128, 128, 128, 0.178);
    /* visibility: hidden; */
    cursor: pointer;
    border: none;
}
#img-group-hover:hover {
    width: 257px;
    height: 257px;
    /* visibility: visible; */
    
    cursor: pointer;
    border: none;
    
}
#img-group-1 {
    width: 257px;
    height: 257px;
    background-image: url(../assets/images/Advent_Calendar_2025_active.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    border: none;
}
#img-group-1:hover {
    width: 257px;
    height: 257px;
    background-image: url(../assets/images/Advent_Calendar_2025_hover.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    border: none;
    
}
#img-group-2 {
    width: 257px;
    height: 257px;
    background-image: url(../assets/images/bm_sampler_active.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    border: none;
}
#img-group-2:hover {
    width: 257px;
    height: 257px;
    background-image: url(../assets/images/bm_sampler_hover.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    border: none;
    
}
#img-group-3 {
    width: 257px;
    height: 257px;
    background-image: url(../assets/images/MadeForYou-active.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    border: none;
}
#img-group-3:hover {
    width: 257px;
    height: 257px;
    background-image: url(../assets/images/MadeForYou-hover.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    border: none;
    
}
#img-group-4 {
    width: 257px;
    height: 257px;
    background-image: url(../assets/images/LoveBox-active.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    border: none;
}
#img-group-4:hover {
    width: 257px;
    height: 257px;
    background-image: url(../assets/images/LoveBox-hover.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    border: none;
    
}

/* section-4 ended --------______________________________________ */


/* section-5 started__________-----------------_______________________ */

.big-imag{
    
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/Big-image-bonne-maman.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    border: none;
}

/* section-5 ended__________-----------------_______________________ */